<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survery</title>
</head>
<body>
<form action="/show/result" method="POST">
    <p>Your Name: <input type="text" name="name"></p>
    <p>Dojo Location:</p>
    <select name="location" id="loc-select">
        
        <option value="Son Jose">Son Jose</option>
        <option value="Ben Arous">Ben Arous</option>
        
    </select>
    <p>favorite language:</p>
    <select name="language" id="pet-select">
        <option value="C#">C#</option>
        <option value="JS">JS</option>
        <option value="PYTHON">PYTHON</option>
        <option value="JAVA">JAVA</option>
    </select>
    <p>
        Comment(optional):
    </p>
        <textarea name="comment" id="" cols="30" rows="5"></textarea>
    <button type="submit">allez</button>
</form>
</body>
</html>